html {
	height: 100%;
	width: 100%;
}

body,
body:-webkit-full-screen {
    background-color: #000;
    color: white;
    height: 100%;
    margin: 0;
}

#main-wrapper,
#main-wrapper:-webkit-full-screen {
	background-color: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
}

#layout-wrapper {
	background-color: inherit;
	display: inline-block;
	height: 70%;
	position: relative;
}

.layout {
	display: block;
	height: 100%;
	width: auto;
	margin: 0 auto;
}

.video-panel {
	height: 15%;
	width: 50%;
	position: absolute;
	right: 69%;
	top: 45%;
}

.video-panel-left {
	float: right;
	text-align: right;
}

.video-panel-right {
	float: left;
	text-align: left;	
}

.video-wrapper {
	height: 100%;
	width: 38%;
	float: inherit;
}

.info-panel {
	float: inherit;
	width: 100px;
	height: 100%;
	position: relative;
}

.video {
	float: inherit;
	height: 100%;
	width: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #33b5e5;
	box-shadow: 0 0 6px 1px #09c;
}

.panel-text {
	text-align: inherit;
	font-size: 9px;
	margin: 0 3px;
	position: absolute;
	bottom: -2px;
	font-family: "Bender";
	color: #33b5e5;
	text-shadow: 3px 3px 6px #0099cc;
}

.panel-text-left {
	right: 0;
}

.panel-text-right {
	left: 0;
}

.importance-bar-outer {
	width: 60%;
	height: 2px;
	position: absolute;
	bottom: -15px;
	border-style: solid;
	border-width: 1px;
	border-color: #33b5e5;
	padding: 1px;
	box-shadow: 0 0 6px 1px #09c;
}

.importance-bar-inner {
	height: 100%;
}

.importance-bar-inner-low {
	background-color: #33b5e5;
	box-shadow: 0 0 6px 2px #0099cc;
}

.importance-bar-inner-high {
	background-color: #33b5e5;
	box-shadow: 0 0 6px 2px #0099cc;
}

#selected-view-bar {
	width: 100%;
	height: 26%;
	margin: 20px;
	text-align: center;
}

.selected-video {
	height: 100%;
	margin: 0 10px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: #33b5e5;
	box-shadow: 0 0 6px 1px #09c;
}

.camera-marker {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: #33b5e5;
	box-shadow: 0 0 6px 1px gray;
}

/*#upper_wrapper
{
	width: 100%;
	height: 66%;
}

/*#layout
{
	position: fixed;
	width: 60%
	left: 50%;
	top: 20%;
}
*/
/*.cam_posi
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #0099cc;
}*/
/*.video_block
{
	border-style: solid;
	border-width: 3px;
	border-color: gray;
	float: left;
	padding: 3px;
	width: 350px;
	height: 250px;
}
.video_wrapper
{
	width: 320px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
video
{
	border-style: solid;
	border-width: 3px;
}
.score
{
	float: left;
}
.face_score
{
	float: right;
}*/